APP_MODE=live
HOST=127.0.0.1
PORT=5188
PUBLIC_ORIGIN=http://localhost:5188
OWNER_EMAIL=jack82342005@gmail.com
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
APPS_SCRIPT_URL=
BRIDGE_SECRET=
DATA_DIRECTORY=./data
